.u-section-1 {
  background-image: none;
  min-height: 1326px;
}

.u-section-1 .u-shape-1 {
  height: 537px;
  width: calc(((100% - 1140px) / 2) + 1002px);
  margin: 60px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 660px;
  height: 660px;
  background-image: url("images/fdfddf.jpg");
  background-position: 50% 50%;
  margin: -474px calc(((100% - 1140px) / 2) + 105px) 0 auto;
}

.u-section-1 .u-group-1 {
  min-height: 352px;
  width: 527px;
  margin: -827px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 0 auto 0 1px;
}

.u-section-1 .u-text-2 {
  font-family: Roboto, sans-serif;
  font-size: 4.25rem;
  margin: 20px 0 0 1px;
}

.u-section-1 .u-group-2 {
  width: 598px;
  min-height: 450px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 343px calc(((100% - 1140px) / 2)) -44px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  line-height: 43.2px;
  font-weight: 400;
  margin: 13px 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 30.6px;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 1300px;
  }

  .u-section-1 .u-shape-1 {
    width: 829px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    width: 663px;
    height: 663px;
    margin-right: calc(((100% - 1140px) / 2) + 183px);
  }

  .u-section-1 .u-group-1 {
    width: 393px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 3.125rem;
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-bottom: -41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1323px;
  }

  .u-section-1 .u-shape-1 {
    height: 606px;
    width: calc(((100% - 720px) / 2) + 488px);
    margin-top: 56px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 626px;
    height: 626px;
    margin-top: -503px;
    margin-right: calc(((100% - 720px) / 2) + 26px);
  }

  .u-section-1 .u-group-1 {
    min-height: 276px;
    margin-top: -841px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 2.8125rem;
  }

  .u-section-1 .u-group-2 {
    width: 501px;
    margin-top: 359px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-bottom: -58px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1455px;
  }

  .u-section-1 .u-shape-1 {
    height: 609px;
    width: calc(((100% - 540px) / 2) + 424px);
    margin-top: 51px;
  }

  .u-section-1 .u-image-1 {
    width: 503px;
    height: 503px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 330px;
    margin-top: -801px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 23px 20px;
  }

  .u-section-1 .u-group-2 {
    width: 374px;
    min-height: 664px;
    margin-top: 405px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: -142px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1407px;
  }

  .u-section-1 .u-shape-1 {
    height: 326px;
    width: calc(((100% - 340px) / 2) + 276px);
  }

  .u-section-1 .u-image-1 {
    width: 332px;
    height: 332px;
    margin-top: -223px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 270px;
    margin-top: -58px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 607px;
    margin-top: 51px;
    margin-bottom: 51px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1059px;
}

.u-section-2 .u-shape-1 {
  width: 237px;
  height: 237px;
  margin: 403px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: 228px;
  height: 228px;
  margin: 47px 0 0 auto;
}

.u-section-2 .u-image-1 {
  height: 493px;
  width: 549px;
  object-position: 50% 0%;
  margin: -845px 510px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 525px;
  min-height: 573px;
  margin: -352px 95px 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px 120px;
}

.u-section-2 .u-text-1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-2 .u-shape-1 {
    width: 217px;
    height: 217px;
    margin-top: 384px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -484px;
  }

  .u-section-2 .u-image-1 {
    height: 455px;
    width: 507px;
    margin-right: auto;
    margin-left: 42px;
  }

  .u-section-2 .u-group-1 {
    width: 448px;
    min-height: 607px;
    margin-top: -314px;
    margin-right: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 485px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -222px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -549px;
    margin-right: 144px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: -52px;
    margin-right: 75px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 509px;
  }

  .u-section-2 .u-image-1 {
    height: 403px;
    width: 438px;
    margin-right: 41px;
  }

  .u-section-2 .u-group-1 {
    min-height: 557px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1428px;
  }

  .u-section-2 .u-shape-1 {
    width: 179px;
    height: 179px;
    margin-top: 60px;
  }

  .u-section-2 .u-shape-2 {
    width: 200px;
    height: 200px;
    margin-top: 636px;
  }

  .u-section-2 .u-image-1 {
    height: 268px;
    width: 291px;
    margin-top: -954px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 604px;
    width: 299px;
    margin-top: -27px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 805px;
}

.u-section-3 .u-shape-1 {
  width: 739px;
  height: 695px;
  margin: 55px 76px 0 auto;
}

.u-section-3 .u-image-1 {
  height: 489px;
  width: 489px;
  background-image: url("images/gffgfggggggggg.jpg");
  background-position: 50% 50%;
  margin: -626px auto 0 420px;
}

.u-section-3 .u-group-1 {
  width: 385px;
  min-height: 478px;
  margin: -383px auto 71px 94px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 31px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-3 .u-shape-1 {
    width: 645px;
    height: 607px;
    margin-top: 52px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 457px;
    width: 457px;
    margin-top: -538px;
    margin-right: 63px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 505px;
    margin-top: -351px;
    margin-bottom: 52px;
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: 557px;
    height: 525px;
    margin-top: 55px;
  }

  .u-section-3 .u-image-1 {
    height: 416px;
    width: 416px;
    margin-top: -470px;
    margin-right: 42px;
  }

  .u-section-3 .u-group-1 {
    width: 360px;
    margin-top: -294px;
    margin-bottom: 54px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-3 .u-shape-1 {
    height: 481px;
    width: 513px;
  }

  .u-section-3 .u-image-1 {
    height: 404px;
    width: 404px;
    margin-top: -441px;
    margin-right: 54px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -95px;
    margin-bottom: 55px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-3 .u-shape-1 {
    height: 329px;
    width: 329px;
  }

  .u-section-3 .u-image-1 {
    height: 279px;
    width: 279px;
    margin-top: -304px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 529px;
    margin-top: -27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1077px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 513px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 400px;
  height: 400px;
  object-position: 50% 0%;
  background-image: url("images/woman-ready-run_1112-582.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 513px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px 30px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 4.25rem;
  font-weight: 400;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  line-height: 36px;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 30px auto 0 0;
  padding: 11px 41px 11px 40px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 256px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 330px 30px 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 423px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 211px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }
}.u-section-5 {
  background-image: none;
  min-height: 793px;
}

.u-section-5 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 442px);
  left: 0;
  right: auto;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-5 .u-image-1 {
  min-height: 657px;
  background-image: url("images/dfdfdffffffffff.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 657px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-5 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  margin: 32px auto 0 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 29px auto 0 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 771px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 334px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 542px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 267px);
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 415px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1438px;
  }

  .u-section-5 .u-shape-1 {
    height: 576px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -516px;
  }

  .u-section-5 .u-image-1 {
    min-height: 667px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1191px;
  }

  .u-section-5 .u-shape-1 {
    height: 321px;
    width: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -261px;
  }

  .u-section-5 .u-image-1 {
    min-height: 420px;
  }
}